<!DOCTYPE html>
<html>

<head>
  <title>Shared events</title>
</head>

<body>
  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <h1>Shared events</h1>

  {% if session.username %}
  <p>
    You are logged in as {{ session.username }}
  </p>
  {% endif %}
  <p>
    <a href="/find_event">Find event</a> | 
  {% if session.user_id %}
    <a href="/new_event">New event</a> | 
    <a href="/logout">Log out</a>
  {% else %}
    <a href="/login">Log in</a> | 
    <a href="/register">Create account</a>
  {% endif %}
  </p>
  <h2>Events</h2>

  <ul>
    {% for event in events %}
    <li><a href="/event/{{event.id}}">{{event.date_time}} : {{event.event_name}}</a></li>
    {% endfor %}
  </ul>
</body>

</html>
