<!DOCTYPE html>
<html>

<head>
  <title>Shared events</title>
</head>

<body>
  <h1>Shared events</h1>
   
  {% if session.username %}
  <p>
    You are logged in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">Log out</a>
  </p>

  <p>
    <a href="/new_event">New event</a>
  </p>

  {% else %}
  <p>
    <a href="/login">Log in</a>
    <a href="/register">Create account</a>
  </p>
  {% endif %}

  <h2>Events</h2>

  <ul>
    {% for event in events %}
    <li><a href="/event/{{event.id}}">{{event.date_time}} : {{event.event_name}}</a></li>
    {% endfor %}
  </ul>
</body>

</html>
