<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  {% if session.username %}
  <p>
    You are logged in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">Log out</a>
  </p>
  {% else %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" maxlength="25" required/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" required/>
    </p>
    <input type="submit" value="Log in" />
  </form>
  {% endif %}
</body>

</html>