<!DOCTYPE html>
<html>

<head>
  <title>New event</title>
</head>

<body>
  <h1>New event</h1>
    <form action="/add_event" method="post">
        <p>
            Event: <br />
            <input type="text" name="event_name" maxlength="50" required/>
        </p>
        <p>
        Date and time: <br />
        <input type="datetime-local" name="date_time" min="{{cur_date}}" required/>
        </p>
        <p>
            Description: <br />
            <textarea name="description" rows="8" cols="30" maxlength="1000" required></textarea>
        </p>
        <p>
            Category: <br />
            <select name="category">
                <option value="">(choose)</option>
                <option value="study">study</option>
                <option value="networking">networking</option>
                <option value="leisure">leisure</option>
                <option value="work">work</option>
            </select>
        </p>
        <input type="submit" value="Add event" />
    </form>
</body>

</html>