{% extends "layout.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
<h2>Create account</h2>

<form action="/create" method="post">
  <p>
    Username: <br />
    <input type="text" name="username" maxlength="25" required/>
  </p>
  <p>
    Password: <br />
    <input type="password" name="password1" required/>
  </p>
  <p>
    Password again: <br />
    <input type="password" name="password2" required/>
  </p>
  <input type="submit" value="Create username" />
</form>
<p>
  <a href="/">Back to frontpage</a>
</p>
{% endblock %}