<!DOCTYPE html>
<html>

<head>
  <title>{{event.event_name}}</title>
</head>

<body>
  <h1>{{event.event_name}}</h1>
  {% if session.user_id == event.user_id %}
  <p>
    <a href="/edit_event/{{event.id}}">Edit</a>
    <a href="/cancel_event/{{event.id}}">Cancel</a>
  </p>
  {% endif %}
  <p>
    Host: <a href="/user/{{event.user_id}}">{{event.username}}</a>
  </p>
  <p>
    Date: {{event.date_time}}
  </p>
  {% if classes %}
  <p>
      {% for class in classes %}
      {{class.title}}: {{class.value}}
      {% endfor %}
  </p>
  {% endif %}
  <p>
    Description: <br />
    {{event.description}}
  </p>
  <p>
    <a href="/">Back to events</a>
  </p>
</body>

</html>